.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 20px;
}
.back{
  width: 44px;
  height: 44px;
  background-color: rgba(17, 17, 17, 0.20);
  border-radius: 100%;
  display: grid;
  place-items: center;
}
.slider {
  position: relative;
  width: 100%;
  max-width: 600px; 
  margin: auto;
  overflow: hidden;
}

.slide_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(17, 17, 17, 0.20);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin: 15px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}
.slides img{
  border-radius: 60px;
}
.slide {
  min-width: 100%;
  transition: opacity 0.5s ease;
  display: none; 
}

.slide_circles{
  margin: 0 auto;
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  position: absolute;
  z-index: 80;
  bottom: 80px;
  
}
.circle{
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.479);
  border-radius: 50%;
}
.active{
  background-color: white;
}
/* content */
.content{
  background-color: #ffffff;
  border-radius: 36px;
  height: 715px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  position: relative;
  bottom: 60px;
  max-width: 425px;
}
.menu{
  display: flex;
  gap: 8px;
  align-items: flex-start;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
  font-style: normal;
  color: white;
  width: 213px;
  text-align: center;
  font-size: 10px;
  font-family: 'Inter', sans-serif;
  height: 24px;
}
.bg{
  background-color: #FB527B;
  padding: 4px 8px;
  border-radius: 16px;  
}
.content h1{
  color: #454243;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px; 
  text-transform: uppercase;
}
.text{
  color: #454243;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  /* height: 350px; */
  width: 100%;
}

.a {
  color: red
}

.time{
  /* height: 52px; */
}
.time, .adres{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.work_time{
  color: #454243;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; 
}
.day{
  color: #454243;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}
.more{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.silka{
  color: #FB527B;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}
.btn{
  width: 350px;
  padding: 16px;
  border-radius: 16px;
  text-align: center;
  background: linear-gradient(to right, #FB527B, #FEE03B);
  color: white;
  margin: 0 auto;
  font-style: normal;
font-weight: 600;
}
.main{
  display: flex;

  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 36px;
  background-color: #fff;
  margin-top: -52px;
}
.qwe{
  color: #454243;
}
.card{
  position: relative;
  
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}
.main_like{
  position: absolute;
  top: 10px;
  right: 10px;
  backdrop-filter: blur(6.111111164093018px);
  border-radius: 100%;
  height: 44px;
}
.main_text{
  margin-top: 8px;
  color: var(--tags, #ABABAB);
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; 
  text-transform: uppercase;
}
.main_matin{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.asd{
  width: 100%;
}
.main_sub{
  overflow: hidden;
  color:  #454243;
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; 
}
.cards{
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 16px;
grid-row-gap: 16px;
}

@media screen and (max-width: 419px){
  .content{
      height: 730px;
  }
  .btn{
      width: 350px;
  }
}

@media screen and (max-width: 402px){
  .btn{
      width: 320px;
  }
}
@media screen and (max-width: 373px){
  .content{
      height: 730px;
  }
  .btn{
      width: 300px;
  }
}
@media screen and (max-width: 369px){
  .content{
      height: 760px;
  }
}
@media screen and (max-width: 359px){
  .content{
      height: 780px;
  }
}
@media screen and (max-width: 350px){
  .content{
      height: 810px;
  }
  .btn{
      width: 280px;
  }
}
@media screen and (max-width: 348px){
  .content{
      height: 850px;
  }
}
@media screen and (max-width: 328px){
  .content{
      height: 860px;
  }
}
@media screen and (max-width: 324px){
  .btn{
      width: 260px;
  }
}